<div>
  <main>
    <section>
      <div>
        <h1>{{name}}</h1>
        <em>{{description}}</em>
        <p>Price: ${{price}}</p>
        <p>Category: {{category}}</p>
      </div>
    </section>
    <section>
      <div>
        <h2>Features</h2>
        <br />
        <h3><u>Processor</u></h3>
        {{#with features.processor}}
          <ul>
            <li>Brand: {{brand}}</li>
            <li>Model: {{model}}</li>
            <li>Speed: {{speed}}</li>
            <li>Cores: {{cores}}</li>
            <li>Cache: {{cache}}</li>
          </ul>
        {{/with}}
        <h3><u>Memory</u></h3>
        {{#with features.memory}}
          <ul>
            <li>Type: {{type}}</li>
            <li>Size: {{size}}</li>
            <li>Speed: {{speed}}</li>
          </ul>
        {{/with}}
        <h3><u>Storage</u></h3>
        {{#with features.storage}}
          <ul>
            <li>Type: {{type}}</li>
            <li>Size: {{size}}</li>
          </ul>
        {{/with}}
        <h3><u>Display</u></h3>
        {{#with features.display}}
          <ul>
            <li>Size: {{size}}</li>
            <li>Resolution: {{resolution}}</li>
            <li>Technology: {{technology}}</li>
            <li>Color Space: {{color_space}}</li>
            <li>Brightness: {{brightness}}</li>
            <li>Refresh Rate: {{refresh_rate}}</li>
          </ul>
        {{/with}}
        <h3><u>Graphics</u></h3>
        {{#with features.graphics}}
          <ul>
            <li>Brand: {{brand}}</li>
            <li>Model: {{model}}</li>
            <li>Memory: {{memory}}</li>
          </ul>
        {{/with}}
        <h3><u>Ports</u></h3>
        {{#each features.ports}}
          <ul>
            <li>{{type}}
              x{{count}}
              {{#if features}}
                <ul>
                  {{#each features}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              {{/if}}
            </li>
          </ul>
        {{/each}}
        <h3><u>Battery</u></h3>
        {{#with features.battery}}
          <ul>
            <li>Type: {{type}}</li>
            <li>Capacity: {{capacity}}</li>
            <li>Life: {{life}}</li>
          </ul>
        {{/with}}
        <h3><u>Weight / Dimensions</u></h3>
        <p>Weight: {{features.weight}}</p>
        {{#with features.dimensions}}
          <ul>
            <li>Height: {{height}}</li>
            <li>Width: {{width}}</li>
            <li>Depth: {{depth}}</li>
          </ul>
        {{/with}}
        <h3><u>Operating System</u></h3>
        <p>{{features.operating_system}}</p>
      </div>
    </section>
    <section>
      <div>
        <h2>Accessories</h2>
        {{#each features.accessories}}
          <ul>
            <li>{{name}} - ${{price}}</li>
          </ul>
        {{/each}}
      </div>
    </section>
  </main>
</div>