<div>
  <main>
    <h1>{{name}} Users</h1>
    {{#each users}}
      <section>
        <div>
          <hr />
          <hr />
          <br />
          (<b>ID: </b>{{id}})
          <u>{{name}}</u>
          /
          {{age}}
          /
          <em>{{gender}}</em>
          <br />
          <br />
          <br />
          <strong>Friends:</strong>
          {{#each friends}}
            <ul>
              <li>
                (<b>ID: </b>{{id}})
                <u>{{name}}</u>
                /
                {{age}}
                /
                <em>{{gender}}</em>
                <br />
                <br />
                <em><strong>mutual:</strong></em>
                {{#each mutual_friends}}
                  <ul>
                    <li>
                      (<b>ID: </b>{{id}})
                      <u>{{name}}</u>
                      /
                      {{age}}
                      /
                      <em>{{gender}}</em>
                      <br />
                      {{#each mutual_friends}}
                        <em>mutual:</em>
                        <br />
                        <ul>
                          <li>
                            (<b>ID: </b>{{id}})
                            <u>{{name}}</u>
                            /
                            {{age}}
                            /
                            <em>{{gender}}</em>
                            <br />
                          </li>
                        </ul>
                      {{/each}}
                    </li>
                  </ul>
                {{/each}}
              </li>
            </ul>
            <br />
          {{/each}}
          <strong>Groups:</strong>
          {{#each groups}}
            <ul>
              <li>
                (<b>ID: </b>{{id}})
                <u>{{name}}</u>
                /
                {{age}}
                /
                <em>{{description}}</em>
                <br />
                <br />
                <em><strong>Members</strong></em>
                {{#each members}}
                  <ul>
                    <li>
                      (<b>ID: </b>{{id}})
                      <u>{{name}}</u>
                      /
                      {{age}}
                      /
                      <em>{{gender}}</em>
                      <br />
                    </li>
                  </ul>
                {{/each}}
              </li>
            </ul>
            <br />
          {{/each}}
        </div>
      </section>
    {{/each}}
  </main>
</div>

{{#if groups}}
  Group of Mutual Friend
{{/if}}